body {font-family: Tahoma, Arial;}
.wrapper {
	width: 960px;
	margin: 50px auto 0;
}

h2 {font-weight: normal; font-size: 1.3em;}

a {color: #5077B9;}
a:hover {color: #399BEE;}

.languages {list-style: none; padding: 0; margin: 0 0 0.3em; overflow: hidden;}
.languages li {display: block; float: left; margin-right: 1.3em; border: 1px solid black; background-color: #D6EAFF;}
.languages li.active {background-color: transparent;}
.languages li a {display: block; float: left; padding: 0.3em 0.5em; text-decoration: none; color: black;}
.languages li form input {margin: 0.2em 0.3em 0 0;}

.language {border: 1px solid black; padding: 0.8em;}
.language .row {border-top: 1px dashed #ccc; padding: 0.8em 0; margin: 0;}
.language .row:first-child {border-top: 0px solid #ccc; padding: 0 0 0.8em;}
.language .source-string {color: #777;}

.forms .form {border: 1px solid black; padding: 0.8em; margin-top: 2em;}
.forms .form h2 {margin-top: 0;}

form {display: inline;}
form input[type="text"] {width: 40%;}
.row {margin-bottom: 0.3em;}